<div id="mgz-login">
  <img src="img/icon.png" alt="肉大师 Logo" class="img-circle img-thumbnail logo" />

  <h1>{{welcome}}</h1>

  <h3>请先登录</h3>

  <div class="third-party">
    <a href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id={{appid}}&redirect_uri={{url}}&state=1" class="qq"><i class="fa fa-qq"></i></a>
  </div>

  <div class="alert alert-info">
    目前只允许QQ登录，其它登录方式将在未来陆续开放。
  </div>

</div> <!-- /#login -->